* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-image: url("hotCoffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.transparent {
  background-color: transparent;
}

.hide {
  display: none;
}

.click:hover {
  color: lightgray;
  cursor: pointer;
}

.logo {
  font-family: 'Playball';
  color: white;
  width: 100%;
  font-size: 120px;  
  border: none;
}

#search-results {
  margin: auto;
  padding: 3%;
  padding-top: 0px;
  text-content: center;
}

p {
  font-size: 70px;
  margin-bottom: 5px;
  margin-top: 0px;
  text-align: center;
}

#map {
  height: 60vh;
  margin-bottom: 5px; 
}

#place-details {
  height: auto;
}

.detail-info {
  background-color: #dddddd;
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  align-content: center;
}

.block {
  display: block;
  margin: auto;
  padding: 10px;
  border: lightgray;
  border-radius: 5px;
  opacity: 0.8;
  width: 60vw;
}

.place-name {
  font-size: 40px;
}

.place-info {
  font-size: 20px;
}

  
  
  




