* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background-image: url("hotCoffee.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  }

.transparent {
  background-color: transparent;
}

.hide {
  display: none;
}

.click:hover {
  color: blue;
  cursor: pointer;
}

.logo {
  font-family: 'Playball';
  font-size: 120px;  
}

#intro {
  margin: 15%;
  width: 70%;
  border: red;
  border-style: double;
  background-color: lightgray;
  padding: auto;
}

#search-results {
  margin: auto;
  padding: 3%;
  text-content: center;
  height: 10%;
}

button {
  display: block;
  margin: auto;
  text-align: center;
  color: darkslategray;
  border: none;
  opacity: .8;
}

#please-wait {
  height: 40vw;
  background-color: #dddddd;
  margin: auto;
  padding: 3%;
  text-align: center;
  align-content: center;
  border-radius: 5px;
  font-size: 40px;
  width: 60vw;
  color: darkslategray;
  font-family: 'Playball';
}

img {
  padding-top: 10px;
}

#map {
  width: 60%;
  height: 60vh;
}

#results-list {
  overflow: scroll;
  width: 40%;
  height: 60vh;
  padding-top: auto;
  padding-bottom: auto;
  padding-left: 0;
  padding-right: 0;
  align-content: center;
  background-color: #dddddd;
}

.place-details {
  width: : 100%;
  height: auto;
  border-bottom-style: groove;
  list-style: none;
  padding: 5px;
}

.inline {
  position: fixed;
  display: inline-block;
  margin: auto; 
  opacity: 0.8;
}

.radius {
  border: 1px solid black;
  border-radius: 5px;
}

.place-label {
  color: red;
  font-size: 30px;
  width: 5%;
  text-align: center;
}

.place-info {
  width: 90%
  color: darkslategray;
  border: none;
}

.name {
  font-size: 20px;
  padding: 3px;
}

.address .phone {
  font-size: 12px;  
}

p {
  text-align: center;
  margin: 0;
}


.highlight {
  background-color: lightblue;
  opacity: 0.8;
}
  
  
  




